div {
    #tituloPrincipal {
        font-family: "Monserrat", "sans-serif" ;
        font-size: 30px;
        text-align: center;
        color: #FF3131;
    }
    img.centrado {
        margin: auto;
        display: block;
        width: 350px;
    }
    a {
        text-decoration: none;
        box-shadow: none;
    }
    .botonInicio {
        color: aliceblue;
        border: none;
        border-radius: 8px;
        background-color: #FF3131;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #titulo2 {
        font-family: "Monserrat", "sans-serif" ;
        font-size: 15px;
        text-align: center;
        color: black;
    }
    img.icono {
        margin-right: 10px;
        width: 50px;
    }
}
